.cabecalhoContato {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 700;
    padding-top: 8vw;
}

label {
    color: #2C3E50;
}

.iconeDivisorContato {
    color: #2C3E50;
    font-size: 25px;
    margin: 2vw 0 3vw 0;
}