.primeiro-avatar {
    width: 250px;
    margin-top: 100px;
    border-radius: 100%;
}

.segundo-avatar {
    width: 250px;
    border-radius: 100%;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7em;
    font-weight: 700;
    text-transform: uppercase;
}

.subtitulo {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding: 10px 0 20px 0;
}

.iconeDivisor {
    font-size: 25px;
    margin-top: 5px;
}

@media (max-width: 425px) {
    .titulo {
        font-size: 2.5em;
    }
}