.primeiro-avatar {
    width: 300px;
    margin-top: 100px;
    border-radius: 100%;
}

.segundo-avatar {
    width: 300px;
    margin-top: 50px;
    border-radius: 100%;
}

.titulo,
.subtitulo {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.subtitulo {
    padding: 10px;
}

.iconeDivisor {
    font-size: 25px;
    margin-top: 5px;
}