.card{
    background: transparent;
    border: transparent;
}
.modal-header{
    background: #e1e6eb;
}

.modal-title{
    color: #212529;
    font-weight: bold;
}

.modal-body{
    color: #212529;
    text-align: justify;
}

.modal-footer{
    background: #e1e6eb;
}

